
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark:#BA265D;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-light-5:#B0B0B0;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-blue-dark-1: #01579b;
}

* {
  margin: 0;
  padding: 0;

}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color:var(--grey-dark-1);
}
