

  <mat-dialog-content class="mat-dialog__content" [formGroup]="form">

  <mat-form-field appearance="outline">
    <mat-label>First name</mat-label>
    <input class="mat-dialog__input" matInput formControlName="first_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last name</mat-label>
    <input class="mat-dialog__input" matInput formControlName="last_name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input class="mat-dialog__input" matInput formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input class="mat-dialog__input" matInput formControlName="username">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" class="mat-dialog__input" matInput formControlName="password">
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="save()" [mat-dialog-close]="data" [disabled]="form.invalid" cdkFocusInitial>Create</button>
</div>
