<header class="header">
  <img src="https://dkdzpz06knoqn.cloudfront.net/9.355.009/images/lu-white-logo.svg" alt="LearnUpon" class="logo">

  <nav class="user-nav">
    <form action="#" class="search">
      <input type="text" class="search__input" placeholder="Search...">
      <button class="search__button">
        <svg class="search__icon">
          <use xlink:href="../../../assets/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="../../../assets/sprite.svg#icon-tree"></use>
      </svg>
    </div>
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="../../../assets/sprite.svg#icon-bell"></use>
      </svg>
      <span class="user-nav__notification">3</span>
    </div>
    <div class="user-nav__icon-box">
      <svg class="user-nav__icon">
        <use xlink:href="../../../assets/sprite.svg#icon-mail2"></use>
      </svg>
      <span class="user-nav__notification">3</span>
    </div>
    <div class="user-nav__user">
      <img src="../../../assets/Images/user-5.jpg" alt="User photo" class="user-nav__user-photo">
    </div>
  </nav>
</header>
